---
layout: default
title: Catalogue Poplus
---

<h1>Developments</h1>

    <p>This is what we have so far, do you miss something? add it at the <a href="https://trello.com/b/5gGF4xrJ/poplus-development">Development Board.</a></p>

    <div id="container">
			{% for post in site.categories.component %}
			    <div class="item">
			    	<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
			    	<div>
			    		{{ post.excerpt }}
				    	<div class="catalogue-links"><!-- <strong>Tags: </strong>{{ post.tags | array_to_sentence_string }}<br> -->
				    		{% if post.component_url %}
							    <a href="{{ post.component_url }}"><i class="icon-external-link"></i>Website</a><br>
							{% endif %}
							{% if post.repo %}
							    <a href="{{ post.repo }}"><i class="icon-github-alt"></i>Github repository</a>
						    {% endif %}
						</div>
					</div>
			    </div>
			{% endfor %}
	</div>

<h1>Deploys</h1>

    <div id="container">
			{% for post in site.categories.deploy %}
			    <div class="item">
			    	<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
			    	<div>
			    		{% if post.excerpt %}
				    		{{ post.excerpt }}
			    		{% endif %}
			    		<div class="catalogue-links">
							    {% if post.deploy_url %}
								  <a href="{{ post.deploy_url }}"><i class="icon-external-link"></i>Website</a>
								{% endif %}
					    		{% if post.repo %}
								  <a href="{{ post.repo }}"><i class="icon-github-alt"></i>Github Repository</a>
								{% endif %}
						</div>
					</div>
			    </div>
			{% endfor %}
	</div>


<script type="text/javascript">
var container = document.querySelector('#container');
var msnry = new Masonry( container, {
  // options
  // columnWidth: 100,
  itemSelector: '.item'
});
</script>

