@import 'variables';

.image-replacement {
    text-indent: -1000%;
    white-space: nowrap;
    overflow: hidden;
}

.container {
    max-width: $site-width;
    padding: 0 1em;
    margin: 0 auto;
    position: relative;
}

.unstyled-list {
    margin-left: 0;
    padding-left: 0;
    list-style: none outside none;
}

.inline-list {
    margin-left: -0.5em;
    margin-bottom: 0;
    li {
        display: inline-block;
        margin-left: 0.5em;
    }
}

@mixin clearfix {
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }
}

@mixin columns($count:2) {
    -webkit-column-count: $count;
    -moz-column-count: $count;
    -o-column-count: $count;
    column-count: $count;
}


