/* Homepage elements that are specific to this component */
.examples {
    /* inherit all the typographical styles from .featuring */
    @extend .featuring;
}

.examples {
    @media (min-width: $medium-screen) {
        margin-bottom: 3em;
    }
    @media (min-width: $large-screen) {
        margin-top: 4em;
        margin-bottom: 4em;
    }
}

.example-popit {
    padding-top: 5em;
    background-image: url('../assets/img/example-popit-icon.png');
    @media ($high-dpi-screen)  {
        background-image: url('../assets/img/example-popit-icon@2.png');
    }
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 83px 60px;
    @media (min-width: $medium-screen) and (max-width: $large-screen) {
        /* Use the available space and put the icon on the right */
        padding-top: 0;
        h3, p {
            padding-left: 33%;
        }
    }
    @media (max-width: $medium-screen) {
        /* These use the .column-one-of-four layout, except these need to be two columns on small screens, not one*/
        width: 47.478070176%;
        display: inline-block;
        margin-right: 5.043859649%; /* 46px */
        &:nth-child(2n+2) {
            margin-right: 0;
        }
    }

    a {
        display: block;
        h3 {
            color: $colour_dark_blue;
        }
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            h3 {
                color: $colour_red;
            }
        }
    }
    p {
        margin-bottom: 0;
    }
}

.example-popit-icon {
    max-width: 5.1875em;
}





