$adelle: "adelle", "Helvetica Neue", Arial, Helvetica, serif;
$signika: "Signika", "Helvetica Neue", Arial, Helvetica, serif ;
$body_typeface: $adelle;
$colour_red: #e94f36;
$colour_green: #c2d83a;
$colour_dark_blue: #2e353e;
$colour_blue: #5d6c7e;
$colour_light_grey: #eaedf2;
$colour_dark_grey: #8a8c8f;
$colour_black: #333333;

$colour_background: #fff;
$colour_links: $colour_red;
$colour_borders: $colour_light_grey;

$huge-screen: 65em;
$large-screen: 50em;
$medium-screen: 33.75em;
$site-width: 71.25em;
$high-dpi-screen: '-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi';


