@import 'normalize';
@import 'mixins';
@import 'variables';

html {
    height: 100%;
}

body {
    font-family: $body_typeface;
    background-color: $colour_background;
    color: $colour_black;
    font-size: 1em;
    line-height: 1.5em;
    height: 100%;
    min-height: 100%;
}

a {
    color: $colour_links;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 11px;
    margin-bottom: 0.66rem;
    line-height: 1.2em;
    font-family: $signika;
}
h1,
.primary-heading {
    font-size: 2.375em;
    line-height: 1.1em;
    font-weight: 400;
    @media (min-width: $medium-screen) {
        font-size: 3.75em;
    }
}

h2,
.secondary-heading {
    font-size: 1.875em;
    font-weight: 600;
    @media (min-width: $medium-screen) {
        font-size: 2.375em;
    }
}

h3,
.tertiary-heading {
    font-size: 1.5em;
    font-weight: 700;
}

h4,
.quarternary-heading {
    font-size: 1.125em;
    text-transform: uppercase;
}

p {
    line-height: 1.66em;
    margin-bottom: 1em;
    margin-bottom: 1rem;
    margin-top: 0;
}

pre, code, kbd, samp {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
}

code {
    border: 1px solid $colour_borders;
    border-radius: 3px;
    padding: 0 0.2em;
}

pre {
    display: block;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid $colour_borders;
    border-radius: 3px;
    padding: 1em;
    max-width: 100%;
    overflow-x: scroll;
    font-size: .9375em;
    line-height: 1.4375em;
    code {
        border: none;
        padding: 0;
    }
}

hr {
    border: none;
    border-top: 1px solid $colour_borders;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    padding-left: 1.3em;
}

dt {
    margin-top: 1.5em;
}

dl {
    ul {
        margin:0;
    }
}

table {
    width: 100%;
    max-width: 100%;
    margin: 1em 0 2em;
    border-collapse: collapse;
    font-size: 0.875em;
    p {
        margin: 0;
    }
}

td, th {
    border-bottom: 1px solid $colour_borders;
    padding: 0.75em 0.6em;
    text-align: left;
}


th {
    background: inherit;
    font-weight: normal;
    color: $colour_blue;
    font-weight: 600;
}

th[scope="row"] {
    color: $colour_dark_grey;
}

tbody {
    tr:hover {
        background-color: $colour_background;
        th[scope="row"] {
            color: $colour_black;
        }
    }
}

input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=text],
input[type=text],
input[type=text],
textarea,
.standard-input {
    border: 1px solid $colour_borders;
    border-radius: 3px;
    padding: 0.33em;
    max-width: 100%;
}

.button {
    display: inline-block;
    font-family: $signika;
    font-weight: 600;
    padding: 0.66em 2em;
    border-radius: 1.4em;
    font-size: 1.125em;
    text-align: center;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

.button--primary {
    @extend .button;
    background-color: $colour_red;
    color: #fff;
    &:hover,
    &:active,
    &:focus {
        background-color: darken($colour_red, 10%);
    }
}

.button--secondary {
    @extend .button;
    color: $colour_dark_blue;
    background-color: $colour_light_grey;
    &:hover,
    &:active,
    &:focus {
        background-color: darken($colour_light_grey, 5%);
    }
}

.button--tertiary {
    @extend .button;
    color: $colour_dark_blue;
    background-color: darken($colour_green, 10%);
    &:hover,
    &:active,
    &:focus {
        background-color: darken($colour_green, 15%);
        color: #fff;
    }
}

/* Inner pages */

.page-title {
    background-color: $colour_dark_blue;
    color: #fff;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    @media (min-width: $large-screen) {
        padding-top: 3em;
        margin-bottom: 3em;
    }
}

.page-title--inner-page {
    h1 {
        /*
         * Make the page heading follow the left-line of the main content
         * These margin widths correspond to the width of .column-navigation on inner pages
         */
        @media (min-width: $large-screen) {
            margin-left: 23%;
        }
        @media (min-width: $huge-screen) {
            margin-left: 20%;
        }
     }
}

.layout-inner-page {
    @include clearfix;
    margin-bottom: 3em;
    .column-content {
        @media (min-width: $large-screen) {
            width: 77%;
            float: right;
        }
        @media (min-width: $huge-screen) {
            width: 60%;
            margin-right: 20%;
        }
    }
    .column-navigation {
        @media (min-width: $large-screen) {
            width: 19%;
            float: left;
            margin-right: 4%;
        }
        @media (min-width: $huge-screen) {
            width: 16%;
        }
    }
}

.inner-navigation {
    background-color: lighten($colour_light_grey, 2.5%);
    padding: 0.5em 1em;
    @media (min-width: $medium-screen) {
        padding: 1em 2em;
        margin-top: 2em;
    }
    @media (min-width: $large-screen) {
        background-color: transparent;
        padding: 0;
        margin-top: 0;
    }
    ul {
        @extend .unstyled-list;
        ul {
            margin-left: 1em;
            margin-bottom: 1em;
        }
    }

    > ul {
        @media (min-width: $medium-screen) and (max-width: $large-screen) {
            @include columns;
        }
    }

    h2 {
        font-size: 1.2em;
        margin: 0;
        color: lighten($colour_black, 20%);
        margin-top: 0.5em;
    }
    a {
        display: block;
        color: $colour_dark_grey;
        padding: 0.2em 0;
        &:hover,
        &:active,
        &:focus {
            color: $colour_black;
        }
        h2 {
            color: $colour_black;
        }
    }
}

.main {
    @media (min-width: $medium-screen) and (max-width: $large-screen) {
        padding-left: 3em;
        padding-right: 3em;
        font-size: 1.125em;
    }
    section {
        margin: 1em 0;
        border-bottom: 1px solid $colour_borders;
        @media (min-width: $medium-screen) {
            margin: 2em 0;
            padding: 0 0 1em;
        }
    }
}


@import 'header';
@import 'footer';
@import 'homepage';
@import 'poplus-styles';
