<div class="site-footer">
    <div class="container">
        <div class="about-poplus">
            <a href="http://www.poplus.org" class="poplus-full-logo">Poplus</a>
            <p>Poplus is an international community of activists, citizens and developers.</p>
            <p>Together we are creating standardised, internationalised, interoperable, open-source Components, to make it easier to build websites that empower citizens, no matter where you are based.</p>
            <ul class="list-of-poplus-components">
                <li><a href="http://mapit.poplus.org/">MapIt</a></li>
                <li><a href="http://popit.poplus.org/">PopIt</a></li>
                <li><a href="http://writeit.poplus.org/">WriteIt</a></li>
                <li><a href="https://github.com/ciudadanointeligente/bill-it">BillIt</a></li>
                <li><a href="http://sayit.poplus.org/">SayIt</a></li>
                <li><a href="http://represent.poplus.org/">Represent Boundaries</a></li>
                <li><a href="https://cuttlefish.oaf.org.au/">Cuttlefish</a></li>
            </ul>
        </div>
          <a href="https://groups.google.com/forum/#!forum/poplus" class="contact-us-footer-link">Contact us</a>
        <div class="poplus-founders">
            <p>Poplus was proudly founded by</p>
            <div class="founder-images">
                <a href="http://www.ciudadanointeligente.org/" class="ci-founder-logo">Ciudadano Inteligente</a>
                <a href="http://mysociety.org/" class="mysociety-founder-logo">mySociety</a>
            </div>
        </div>
    </div>
</div>
