<div class="site-footer">
    <div class="container">
        <div class="about-poplus">
            <a href="http://www.poplus.org" class="poplus-full-logo">Poplus</a>
            <p>Poplus est une communauté internationale de militants, de citoyens et de développeurs informatiques.</p>
            <p>Ensemble, nous créons des éléments libres standardisés, internationalisés et interopérables destinés à faciliter la création de sites web prônant les mouvements citoyens, et ce, peu importe votre localisation.</p>
            <ul class="list-of-poplus-components">
                <li><a href="http://mapit.poplus.org/">MapIt</a></li>
                <li><a href="http://popit.poplus.org/">PopIt</a></li>
                <li><a href="http://writeit.poplus.org/">WriteIt</a></li>
                <li><a href="https://github.com/ciudadanointeligente/bill-it">BillIt</a></li>
                <li><a href="http://sayit.poplus.org/">SayIt</a></li>
                <li><a href="http://represent.poplus.org/">Represent</a></li>
            </ul>
        </div>
          <a href="https://groups.google.com/forum/#!forum/poplus" class="contact-us-footer-link">Contacter-nous</a>
        <div class="poplus-founders">
            <p>Poplus fièrement fondée par</p>
            <div class="founder-images">
                <a href="http://www.ciudadanointeligente.org/" class="ci-founder-logo">Ciudadano Inteligente</a>
                <a href="http://mysociety.org/" class="mysociety-founder-logo">mySociety</a>
            </div>
        </div>
    </div>
</div>
