<div class="site-footer">
    <div class="container">
        <div class="about-poplus">
            <a href="http://www.poplus.org" class="poplus-full-logo">Poplus</a>
            <p>Poplus: una federación global por la tecnología cívica.</p>
            <p>Compartiendo tecnología para ayudar a proyectos cívicos y democráticos... en cualquier lugar..</p>
            <ul class="list-of-poplus-components">
                <li><a href="http://mapit.poplus.org/">MapIt</a></li>
                <li><a href="http://everypolitician.org/">EveryPolitician</a></li>
                <li><a href="http://writeit.poplus.org/">WriteIt</a></li>
                <li><a href="https://github.com/ciudadanointeligente/bill-it">BillIt</a></li>
                <li><a href="http://sayit.poplus.org/">SayIt</a></li>
                <li><a href="http://represent.poplus.org/">Represent</a></li>
            </ul>
        </div>
          <a href="https://groups.google.com/forum/#!forum/poplus" class="contact-us-footer-link">Contáctanos</a>
        <div class="poplus-founders">
            <p>Con mucho orgullo, Poplus fue fundado por</p>
            <div class="founder-images">
                <a href="http://www.ciudadanointeligente.org/" class="ci-founder-logo">Ciudadano Inteligente</a>
                <a href="http://mysociety.org/" class="mysociety-founder-logo">mySociety</a>
            </div>
        </div>
    </div>
</div>
