<div class="retirement-banner retirement-banner--poplus">
  <div class="retirement-banner__inner container">
    <a class="retirement-banner__logo" href="https://mysociety.org">mySociety</a>
    <p class="retirement-banner__description">
    This website is no longer being updated. <a href="{{ site.baseurl }}/">Find out more&hellip;</a>
    </p>
  </div>
</div>
<header class="site-header">
    <div class="container">
        <a href="{{ site.baseurl }}/home" class="poplus-logo-tab">Poplus</a>
        <a href="{{ site.baseurl }}/home" class="site-title"><span class="dot-poplus">Poplus</span></a>
        <div class="primary-navigation-position">
            <nav role="navigation" class="primary-navigation nav-collapse">
                <ul>
                    <li><a href="{{ site.baseurl }}/get-involved/">Get involved</a></li>
                    <li><a href="{{ site.baseurl }}/components/">Components</a></li>
                    <li><a href="{{ site.baseurl }}/about/">About</a></li>
                    <li><a href="{{ site.baseurl }}/popluscon/">Conference</a></li>
                    <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
