<header class="site-header">
    <div class="container">
        <a href="{{ site.baseurl }}/es/" class="poplus-logo-tab">Poplus</a>
        <a href="{{ site.baseurl }}/es/" class="site-title"><span class="dot-poplus">Poplus</span></a>
        <div class="primary-navigation-position">
            <nav role="navigation" class="primary-navigation nav-collapse">
                <ul>
                    <li><a href="{{ site.baseurl }}/es/involucrate/">Súmate</a></li>
                    <li><a href="{{ site.baseurl }}/es/componentes/">Componentes</a></li>
                    <li><a href="{{ site.baseurl }}/es/about/">Acerca de</a></li>
                    <li><a href="{{ site.baseurl }}/popluscon/">Conferencia</a></li>
                    <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
