<header class="site-header">
    <div class="container">
        <a href="{{ site.baseurl }}/" class="poplus-logo-tab">Poplus</a>
        <a href="{{ site.baseurl }}/" class="site-title"><span class="dot-poplus">Poplus</span></a>
        <div class="primary-navigation-position">
            <nav role="navigation" class="primary-navigation nav-collapse">
                <ul>
                    <li><a href="{{ site.baseurl }}/get-involved/">Get involved</a></li>
                    <li><a href="{{ site.baseurl }}/components/">Components</a></li>
                    <li><a href="{{ site.baseurl }}/about/">About</a></li>
                    <li><a href="{{ site.baseurl }}/popluscon/">PoplusCon</a></li>
                    <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
