<div id="hero-secondary">
		<div class="oneForth">
			<img src="images/heart.png">
			<div class="textBoxBorder">
					<a href="../about.html"><h3 class="secondaryTitle">Code of<br>Honor</h3></a>
			</div>
		</div>
		<div class="oneForth">
				<img src="images/single-module.png">
				<div class="textBoxBorder">
					<h3 class="">Build</h3>	
					<p>
						Develop a module that serves democracy through an specific task, but flexible enough to be used in different contexts.
					</p>
				</div>
		</div>
		<div class="oneForth">
				<img src="images/share.png">
				<div class="textBoxBorder">
					<h3 class="">Share &amp; Connect</h3>	
					<p>
						Make it Open Source and allow it to connect with other modules via web API.
					</p>
				</div>
		</div>
		<div class="oneForth">
				<img src="images/sprout.png">
				<div class="textBoxBorder">
					<h3 class="">Let it grow</h3>	
					<p>
						Enable world's civic society to easily launch high quality online iniciatives
					</p>
				</div>

		</div>
</div>