<div id="hero-secondary">
		<div class="oneForth">
			<img src="images/heart.png">
			<div class="textBoxBorder">
					<a href="../about.html"><h3 class="secondaryTitle">Code of<br>Honor</h3></a>
			</div>
		</div>
		<div class="oneForth">
				<img src="images/single-module.png">
				<div class="textBoxBorder">
					<h3 class="">Build</h3>	
					<p>
						Develop a Component that empowers citizens, and is flexible enough to be used anywhere.
					</p>
				</div>
		</div>
		<div class="oneForth">
				<img src="images/share.png">
				<div class="textBoxBorder">
					<h3 class="">Share &amp; Connect</h3>	
					<p>
						Poplus Components can connect with other tools. They are designed to work in more than one country and in different languages to ensure that they are used as widely as possible.
					</p>
				</div>
		</div>
		<div class="oneForth">
				<img src="images/sprout.png">
				<div class="textBoxBorder">
					<h3 class="">Let it grow</h3>	
					<p>
						Your Component helps launch civic websites ... and so the public is empowered.
					</p>
				</div>

		</div>
</div>
