<nav class="inner-navigation">
    <ul>
        <li>
          <a href="{{ site.baseurl }}/get-involved/">Impliquez-vous</a>
          <ul>
            <li><a href="{{ site.baseurl }}/get-involved/other-ways/">Façons d’aider</a></li>
            <li><a href="{{ site.baseurl }}/get-involved/find-people/">Retrouvez la communauté Poplus</a></li>
          </ul>
        </li>
        <li>
          <a href="{{ site.baseurl }}/fr/elements/">Éléments</a>
          <ul>
            <li><a href="{{ site.baseurl }}/fr/elements/actuels/">Éléments actuels</a></li>
            <li><a href="{{ site.baseurl }}/fr/elements/exemples/">Éléments en cours d’utilisation</a></li>
            <li><a href="{{ site.baseurl }}/fr/elements/definition/">Qu’est-ce qu’un élément ?</a></li>
            <li><a href="{{ site.baseurl }}/components/apply/">Créer de nouveaux éléments</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/about/">À propos</a></li>
        <li><a href="{{ site.baseurl }}/about/faq/">FAQ</a></li>
        <li><a href="{{ site.baseurl }}/popluscon/">Conférence</a></li>
        <li><a href="{{ site.baseurl }}/blog/">Blogue</a></li>
    </ul>
</nav>
