<nav class="inner-navigation">
    <ul>
        <li>
          <a href="{{ site.baseurl }}/get-involved/">Get involved</a>
          <ul>
            <li><a href="{{ site.baseurl }}/get-involved/join-a-committee/">Join a committee</a></li>
            <li><a href="{{ site.baseurl }}/get-involved/other-ways/">Other ways to help</a></li>
            <li><a href="{{ site.baseurl }}/get-involved/find-people/">Find Poplus people!</a></li>
          </ul>
        </li>
        <li>
          <a href="{{ site.baseurl }}/components/">Components</a>
          <ul>
            <li><a href="{{ site.baseurl }}/components/current/">Current components</a></li>
            <li><a href="{{ site.baseurl }}/components/examples/">See components in&nbsp;use</a></li>
            <li><a href="{{ site.baseurl }}/components/definition/">What is a component?</a></li>
            <li><a href="{{ site.baseurl }}/components/apply/">Making new components</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/about/">About Poplus</a></li>
        <li><a href="{{ site.baseurl }}/popluscon/">Conference</a></li>
        <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
    </ul>
</nav>
