<nav class="inner-navigation">
    <ul>
        <li>
          <a href="{{ site.baseurl }}/get-involved/">Súmate</a>
          <ul>
            <li><a href="{{ site.baseurl }}/get-involved/join-a-committee/">Únete a un comité</a></li>
            <li><a href="{{ site.baseurl }}/get-involved/other-ways/">Otras formas de participar</a></li>
            <li><a href="{{ site.baseurl }}/get-involved/find-people/">Conoce al resto de la comunidad</a></li>
          </ul>
        </li>
        <li>
          <a href="{{ site.baseurl }}/es/componentes/">Componentes</a>
          <ul>
            <li><a href="{{ site.baseurl }}/es/componentes/actuales/">Componentes actuales</a></li>
            <li><a href="{{ site.baseurl }}/es/componentes/ejemplos/">Ejemplo de uso de los componentes</a></li>
            <li><a href="{{ site.baseurl }}/es/componentes/definicion/">¿Qué es un componente?</a></li>
            <li><a href="{{ site.baseurl }}/es/components/postular/">Agregar un nuevo componente</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}/about/">Acerca de</a></li>
        <li><a href="{{ site.baseurl }}/about/faq/">Preguntas Frecuentes</a></li>
        <li><a href="{{ site.baseurl }}/popluscon/">Conferencia</a></li>
        <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
    </ul>
</nav>
