<nav class="inner-navigation">
    <ul>
        <li><a href="{{ site.baseurl }}/learn/"><h2>Learn</h2></a></li>
        <li><a href="{{ site.baseurl }}/learn/what-is-a-component.html">What is a Poplus component?</a></li>
        <li><a href="{{ site.baseurl }}/join/"><h2>Join</h2></a></li>
        <li><a href="{{ site.baseurl }}/join/group.html">Community</a></li>
        <li><a href="{{ site.baseurl }}/components/"><h2>Components</h2></a></li>
        <li><a href="{{ site.baseurl }}/about/"><h2>About</h2></a></li>
        <li><a href="{{ site.baseurl }}/about/committee.html">Committee</a></li>
        <li><a href="{{ site.baseurl }}/about/history.html">History</a></li>
        <li><a href="{{ site.baseurl }}/about/people.html">People</a></li>
        <li><a href="{{ site.baseurl }}/about/contributors.html">Contributors</a></li>
    </ul>
</nav>
