/* The shared parts of all homepages here */

.hero {
    background-color: #333;
    color: #fff;
    padding: 2em 0;
    background-image: url('../assets/img/hero-a.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    @media (min-width: $medium-screen) {
        padding: 7em 0 8em;
        background-image: url('../assets/img/hero-b.jpg');
    }
}
    .hero__component-introduction {

    }

        .hero__component-title {
            font-weight: 600;
            margin-bottom: 24px;
            margin-bottom: 1.5rem;
            @media (min-width: $large-screen) {
                font-size: 4.5em;
                max-width: 80%;
            }
        }

        .hero__component-description {
            margin-bottom: 8px;
            margin-bottom: 0.5rem;
            clear: both;
            @include clearfix;
            @media (min-width: $medium-screen) {
                max-width: 40em;
                margin-bottom: 32px;
                margin-bottom: 2rem;
            }
            @media (min-width: $large-screen) {
                max-width: 60%;
            }
            p {
                @media (min-width: $medium-screen) {
                    width: 48%;
                    margin-right: 4%;
                    float: left;
                    font-size: 1.125em;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        .hero__component-actions {
            clear: both;
            a {

                margin-bottom: 1em;
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                @media (min-width: $medium-screen) {
                    width: auto;
                    padding-left: 2em;
                    padding-right: 2em;
                    margin-right: 1.5em;
                }
            }
        }



.column {
     @media (min-width: $medium-screen) and (max-width: $large-screen) {
        clear: both;
    }
}

.column-one-of-four {
    margin-bottom: 2em;
    vertical-align: top;
    @media (min-width: $medium-screen) and (max-width: $large-screen) {
        width: 47.478070176%;
        display: inline-block;
        margin-right: 5.043859649%; /* 46px */
        &:nth-child(even) {
            margin-right: 0;
        }
    }
    @media (min-width: $large-screen) {
        width: 21.217105263%;
        display: inline-block;
        margin-right: 5.043859649%; /* 46px */
        &:nth-child(4n+4) {
            margin-right: 0;
        }
    }
}

.column-one-of-two {
    margin-bottom: 2em;
    vertical-align: top;
    @media (min-width: $medium-screen) {
        width: 47.478070176%;
        display: inline-block;
        margin-right: 5.043859649%; /* 46px */
        &:nth-child(even) {
            margin-right: 0;
        }
    }
}

.layout-full-width-left-heading {
    @include clearfix;
    @media (min-width: $large-screen) {
        border-top: 1px solid $colour_borders;
    }
    .heading-column {
        @media (min-width: $large-screen) {
            width: 16%;
            margin-right: 4%;
            float: left;
        }
    }
    .content-column {
        padding-top: 1em;
        @media (min-width: $large-screen) {
            padding-top: 3em;
        }
        @media (min-width: $large-screen) {
            width: 80%;
            float: left;
        }
    }
}

.left-heading {
    padding-top: 1em;
    @media (min-width: $large-screen) {
        padding-top: 2.3em;
        border-top: 8px solid $colour_borders;
    }
}

.left-heading--no-border {
    @media (min-width: $large-screen) {
        padding-top: 2.8em;
        border-top: none;
    }
}
