/* mySociety header */
.ms-header {
  background: transparent;
  border-top: 4px solid #424242;
}

.ms-header__row {
  @include grid-row;
  position: relative;
}

.ms-header__logo {
  @extend %image-replacement;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #424242;
  background-repeat: no-repeat;
  height: 38px;
  width: 44px;
  border-radius: 0 0 0.75em 0.75em;
  @include prefix(background-size, 22px);
  background-position: 11px 7px ;
  background-image: url('../assets/img/retirement/mysociety-bloom.png');

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    background-image: url('../assets/img/retirement/mysociety-bloom@2.png');
  }

  @media (min-width: $medium-screen) {
    border-radius: 0 0 1.25em 1.25em;
    background-position: 16px 10px ;
    @include prefix(background-size, 93px 19px);
    background-repeat: no-repeat;
    background-image: url('../assets/img/retirement/mysociety-logo-white.png');
    width: 125px;
    height: 39px;
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url('../assets/img/retirement/mysociety-logo-white@2.png');
    }
  }
}
