@import 'normalize';
@import 'variables';
@import 'mixins';

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: $body_typeface;
  background-color: $colour_background;
  color: $colour_black;
  font-size: 1em;
  line-height: 1.5em;
  height: 100%;
  min-height: 100%;

  @media (min-width: $medium-screen) {
    font-size: 18px; // up from default 1em (16px);
  }
}

a {
  color: $colour_links;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 11px;
  margin-bottom: 0.5em;
  line-height: 1.2em;
}

h1,
.primary-heading {
  font-size: 2em;
  line-height: 1.1em;
  font-weight: 400;
}

h2,
.secondary-heading {
  font-size: 1.75em;
  font-weight: 600;
}

h3,
.tertiary-heading {
  font-size: 1.5em;
  font-weight: 700;
}

h4,
.quarternary-heading {
  font-size: 1.125em;
  text-transform: uppercase;
}

p {
  line-height: 1.66em;
  margin-bottom: 1em;
  margin-bottom: 1em;
  margin-top: 0;
}

pre, code, kbd, samp {
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
}

code {
  border: 1px solid $colour_borders;
  border-radius: 3px;
  padding: 0 0.2em;
}

pre {
  display: block;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid $colour_borders;
  border-radius: 3px;
  padding: 1em;
  max-width: 100%;
  overflow-x: scroll;
  font-size: .9375em;
  line-height: 1.4375em;
  code {
    border: none;
    padding: 0;
  }
}

hr {
  border: none;
  border-top: 1px solid $colour_borders;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 1.3em;
}

dt {
  margin-top: 1.5em;
}

dl {
  ul {
    margin:0;
  }
}

input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=text],
input[type=text],
input[type=text],
textarea,
.standard-input {
  border: 1px solid $colour_borders;
  border-radius: 3px;
  padding: 0.33em;
  max-width: 100%;
}

.unstyled-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none outside none;
}

.inline-list {
  margin-left: -0.5em;
  margin-bottom: 0;
  li {
    display: inline-block;
    margin-left: 0.5em;
  }
}

@import 'grid';
@import 'buttons';
@import 'ms-header';
@import 'hero';
@import 'content';
@import 'footer';

