---
layout: default
---

<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
	<h1>{{ page.title }}</h1>
	<h4>By {{ page.owner }}</h4>
	{{ content }}

<!-- <ul>
  {% for page.component_url %}
    <li>
      <a href="{{ page.component_url }}">Website</a>
    </li>
  {% endfor %}
</ul> -->

	<a href="{{ page.component_url }}">Website</a><br>
	<a href="{{ page.repo }}">Github Repository</a>
	<div><strong>Status: </strong>{{ page.status }}</div>
	<div><strong>Tags: </strong>{{page.tags | array_to_sentence_string }}</div>
</div>
