<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | Collaborative Civic Coding</title>
        <meta property="og:title" content="Poplus" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://poplus.org/" />
        <meta property="og:image" content="{{ site.url }}/images/poplus-icon.jpg" />
        <meta property="og:description" content="Software components that help civil society groups and campaigners launch powerful websites anywhere in the world." />
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Software components that help civil society groups and campaigners launch powerful websites anywhere in the world.">
        <meta name="keywords" content="develop, application, civic coding, social, open code, technology, writeit, billit, sayit, popit, mapit, web service, appi, write-it, bill-it, say-it, pop-it, map-it, write it, bill it, say it, pop it, map it">
        <meta name="author" content="Ciudadano Inteligente">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <script type="text/javascript" src="{{ site.url }}/assets/javascripts/masonry.pkgd.js"></script>
        <link rel="stylesheet" href="/css/jquery.countdown.css" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>
    <body class="{% if page.class == "home" %}home{% endif %}{% if page.url == "/about.html" %}about{% endif %}">
        <div class="container">
          <div class="site-header">
              <div class="site">
                <div class="header">
                  <a href="/"><img src="{{ url }}/images/logo-poplus.png" alt="Poplus"></a>
                  <!-- <h1 class="title"><a href="/">{{ site.name }}</a></h1> -->
                  <ul class="menu">
                    <a href="/index.html"><li>Home</li></a>
                    <a href="/about.html"><li>About / Get involved</li></a>
                    <!--<a href="/join"><li>Join</li></a>-->
                    <a href="/what-is-a-component.html"><li>What is a Poplus component?</li></a>
                    <a href="/catalogue.html"><li>Components</li></a>

                    <!-- <a href="/blog.html"><li>Blog</li></a> -->
                    <a href="/popluscon_sessions.html"><li>Poplus Con</li></a>
                    <!-- <a href="../workspace.html"><li>Workspace</li></a> -->
                  </ul>
                </div>
              </div>
          </div>
          {% if page.class == "home" %}
            {% include home-join-call-to-action.html %}
          {% endif %}
          <div class="site">
                {{ content }}
          </div> <!-- /container -->

          <div class="site-footer">
                <div class="site">
                  {% if page.class == "home" %}
                    {% include home-footer.html %}
                  {% endif %}
                </div>

                <div class="site">
                      <div class="footer">

                        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Poplus Site</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a> (<a href="https://github.com/ciudadanointeligente/home-poplus">GitHub repo</a>)

                      </div>

                      <div class="footer footer-right">Proudly hosted on <a href="https://github.com/" target="_blank"><img src="{{ url }}/images/github-logo.png" alt="Poplus"></a></div>

                </div>
          </div>

        </div>

    </body>
</html>
